/* .input-fl , .btn-fl{
    text-align: center;
}
h1{
    text-align: center;
}

.edit{
    width: 200px;
    background-color: green;
    color: white;
}
.delet{
    width: 200px;
    background-color: red;
    color: white;
}
.lalit {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
table {
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
}
 
th {
    border-bottom: 1px solid black;
}
.f-l{
    text-align: center;
} */